﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height: calc(100vh - 80px);">
    <div style="text-align: center">
        <img src="../../Content/image/inrdex_banner-01.png" class="banner"/>
    </div>
        <h2 class="page-header" style="text-align: center">Embedded Systems Emulator Service</h2>
        <p class="lead" style="text-align: center">ES2 is a multi-architecture CPU emulator web service using Unicorn Framwork.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg" style="text-align: center; display: none">Get start &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@